<header class="header">
  <div class="container">
    <nav class="navbar">
      <a href="{{ shop.url }}">
        <img src="{{ logo.url }}" alt="{{ shop.name }}" height="100%" width="100%"/>
      </a>
    </nav>
  </div>
</header>